/* Global */

.page-body{
  width: 1400px;
  min-width: 1400px;
  height: 100vh;
  padding: 0px;
  margin: 0 auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;  
  line-height: 30px;
  background-color: #E5E5E5;
  

  color: #533738;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* Header */

.page-header {
  background-color: #EFE6E4;
  /* margin-bottom: -33px; */
}
.header-container {
  width: 1200px;
  height: 25px;
  margin: 0 auto;
  display: flex;  

}
.header-logo {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


.site-nav {
  align-self: center;
}

.nav-list {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.nav-item {
  
  padding-right: 26px;
  list-style: none;
 
}
.nav-link {
  font-weight: 400;
font-size: 16px;
line-height: 20px;

  color: #533738;
}
.phone{
  align-self: center;
}
.phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}

/* Main */
.page-main {
  /* display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: 715px repeat(6, 1fr); 
  gap: 0px 0px; 
  justify-items: center;  */

}
.promo {
  /* width: 1400px;
  height: 715px; */
  /* margin-bottom: -32px; */
  background-color: #EFE6E4;
  background-image: url(../img/bg_promo.jpg);
  background-repeat: no-repeat;
}
.container {
  width: 1036px;
  margin: 0 auto;
  
}
.main-heading {
  margin: 0px;
font-weight: 400;
font-size: 50px;
line-height: 62px;
}
.promo-description {
}
.button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;

}

.button-request{
  background-color: #CC8B86;
}

.second-heading {
  margin: 0px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.about {
  background-color: #EFE6E4;
  /* margin-bottom: -32px; */
}

.about-results {
  

  background-color: #8D7370;
}
.about-results dl {
  margin: 0px;
  color: #ffffff;
}

.portfolio {
  /* margin-bottom: -33px; */
  background-color: #EFE6E4;
}

.portfolio-link {

  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}

.portfolio-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.portfolio-item {
    margin-right: 20px;
}

/* .portfolio-item::last-child {
  margin-right: -20px;
} */

.team {
  /* margin-bottom: -34px; */
  background-color: #E2C4BA;
}

.team-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  
}

.team-item {
  margin-right: 38px;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-item p{
  display: block;
  width: 320px;
}

.we-work {
  /* margin-bottom: -33px; */
  background-color: #E2C4BA;
}

.we-work-list {
  margin: 0px;
}

.reviews {
  /* margin-bottom: -33px; */
  background-color: #EFE6E4;
}

.comment {
  margin: 0px;
}

.request {
  background-color: #8D7370;
}

.header-request {
  color: #ffffff;
}

.request-form {

}

.request-text {
  color: #ffffff;
}

.page-footer {
  background-color: #EFE6E4;
}
