/* Global */

.page-body {
  width: 1400px;
  min-width: 1400px;
  height: 100vh;
  padding: 0px;
  margin: 0 auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #E5E5E5;
display: grid;
grid-template-rows: auto auto auto;
grid-template-columns: 1fr;


  color: #533738;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

.page-header {
  padding-top: 36px;
  position: relative;
  z-index: 1;

}

.wide-container {
  width: 1200px;
  height: 25px;
  margin: 0 auto;

}

.header-nav {
  display: flex;
  align-items: baseline;
}
.logo-img {
  position: relative;
  top: 5px;
}
.header-logo {
  /* align-self: center; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 20px;
  margin-right: 89px;

}
/* 
.header-logo img{
    position: absolute;
  top: 36px;
} */

.site-nav {
  align-self: center;
  margin-right: 34px;
}

.nav-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.nav-item {

  /* padding-right: 26px; */
  list-style: none;
  margin-right: 26px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #533738;
}

.phone {
  align-self: center;
}

.phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}

/* Main */
.page-main {
  /* display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: 715px repeat(6, 1fr); 
  gap: 0px 0px; 
  justify-items: center;  */

}

.promo {

  height: 715px;
  margin-top: -61px;
  background-color: #EFE6E4;
  background-image: url(../img/bg_promo.jpg);
  background-repeat: no-repeat;
}

.promo .container {
  padding-top: 152px;

}

.container {
  width: 1036px;
  margin: 0 auto;

}

.main-heading {
  margin: 0px;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

.promo-description {}

.button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;

}

.button-request {
  background-color: #CC8B86;
}

.second-heading {
  margin: 0px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}

.about {
  background-color: #EFE6E4;
  /* margin-bottom: -32px; */
}
.about-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about-results {


  background-color: #8D7370;
}

.about-results dl {
  margin: 0px;
  color: #ffffff;
}

.portfolio {
  /* margin-bottom: -33px; */
  background-color: #EFE6E4;
}

.portfolio-link {

  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}

.portfolio-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.portfolio-item {
  margin-right: 20px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(2n) {
  margin-right: 0px;
}

.team {
  /* margin-bottom: -34px; */
  background-color: #E2C4BA;
}

.team-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;

}

.team-item {
  margin-right: 38px;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-item p {
  display: block;
  width: 320px;
}

.we-work {
  /* margin-bottom: -33px; */
  background-color: #E2C4BA;
}

.we-work-list {
  margin: 0px;
}

.reviews {
  /* margin-bottom: -33px; */
  background-color: #EFE6E4;
}

.reviews-slider {
  position: relative;
  padding: 0 100px;
}
.reviews-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.reviews-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.reviews-img img{
  display: block;
}
.reviews__images img:first-child {
  margin-bottom: 24px;
}
.slider-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-button {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
  background-color: #CC8B86;
  cursor: pointer;
}
/* .slider-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 2px;
  background-color: white;
}
.slider-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
}
.slider-button-prev {
}
.slider-button-next::after {
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%) rotate(-135deg);
} */

blockquote p {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 33px;
}

blockquote p:last-child {
  margin-bottom: 20px;
}

blockquote cite {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
}

.request {

  background-color: #8D7370;
}

.header-request {
  /* display: block; */
  color: #ffffff;
}

.request-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.request-form {}

.request-text {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  color: #ffffff; 
}

.page-footer {
  background-color: #EFE6E4;
}

.contacts {
  display: flex;
  align-items: baseline;
}

.contacts a {
  margin-right: 42px;
}

.contacts address {
  flex-grow: 1;
  font-style: normal;

}